<div class="as-producttile-info" style="border: 1px dotted black; padding: 5px 10px; width: 30%; margin: auto; margin-top: 50px; text-align: center; box-shadow: 10px 10px red;">
   <h2>Pago exitoso ✅!</h2>
   <p>tipo de pago: {{payment_type}}</p>
   <p>Referencia: {{external_reference}}</p>
   <p>payment_id: {{payment_id}}</p>
   <button
      type="submit"
      class="mercadopago-button"
      onclick="location.href='/'"
   >Volver a Home</button>
</div>