{% extends "base.jinja" %} {% block informacion %}
<div class="row">
  <div class="container-fluid">
    <div class="col-12">
      <div class="mx-auto card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title text-center">
            El link al cual quieres acceder ya no esta disponible.
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block header %}
❌ Pagina de error 
{% endblock %}
