{% extends "base.jinja" %} {% block informacion %}
<div class="card" style="width: 18rem">
  <div class="card-body">
    <h5 class="card-title">Inicio</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{ mensaje }}</h6>
    <p class="card-text">{{ texto }}</p>
  </div>
</div>
{% endblock %}
