{% extends "base.jinja" %} {% block informacion %}
<div class="row">
  <div class="container-fluid">
    <div class="col-12">
      <div class="mx-auto card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title">
            <label class="card-title" id="correo">
              {{ correo }}
            </label>
            ingresa tu nueva password
          </h5>

          <input
            type="password"
            class="card-text form-control mb-2"
            id="password"
          />

          <button
            id="btn_reset_password"
            class="card-link btn btn-block btn-success"
          >
            Establecer Password
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="{{ url_for('static', filename='recovery.js') }}"></script>

{% endblock %}
